div.alertBoxLeft {
    width: 75%;
    position: fixed;
    left: 50%;
    transform: translateX(-200%);
    transition: linear all 0.4s;

}

div.alertBoxCenter {
    width: 75%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: linear all 0.4s;

}